// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-color: (31, 30, 29);
}

.site-header {
    border-bottom: none;
}

.site-footer {
    font-family: $sans-serif-font-family;
    font-size: $small-font-size;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $headline-font-family;
   font-weight: 600;
  }

.site-header a {
    text-transform: uppercase;
    font-family: $sans-serif-font-family;
    font-weight: 600;
    font-size: $base-font-size;
    &.nav-item {
        font-size: $small-font-size;
        font-weight: 400;  
    }
}

// Post page adjustments

.post-header {
    text-align: left;
    h1 {
        font-family: $headline-font-family;
        font-weight: 600;
      }
}

.post-meta {
    text-transform: uppercase;
    font-family: $sans-serif-font-family;
    font-weight: 600;
    font-size: 10px;
}

.post-content {
    p {
        letter-spacing: .02em;
        font-family: warnock-pro, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    }

    a {
        text-underline-offset: .1em;
        text-decoration: underline;
        text-decoration-thickness: .08em;
    }
}


